.para{
	float: right;
}

.para2
{
	font-size: 18px;
}

.head-info
{
	/*background-color: #FD9801;*/
	/*font-style: italic;*/
	/*background: -webkit-linear-gradient(red, blue);*/ /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(red, blue);*/ /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(red, blue);*/ /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(black, white);*/ /* Standard syntax (must be last) */
    background-color: black;
	padding-left: 2cm;
	padding-top: 75px;
	padding-bottom: 75px;
	margin-left: 0px;
	color: white;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-bottom: 0cm;

}

.but
{
	float: center;
}

.foot-info
{
	background-color: #000000; /*CEF4AD*/
	color: gray;
	font-size: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.padding
{
	padding-left: 100px;
	padding-top: 50px;
}

.text
{
	width: 200px;
}

.nav
{
	padding-top: 1cm;
	padding-bottom: 64px;
	background-color:#eeeeee;
	float:right;
	padding-left: 0.5cm;
	margin-top: 0cm;
	margin-bottom: 0cm;
}